<nav class="navbar navbar-expand-sm fixed-top navbar-dark bg-primary">
    <button class="navbar-toggler" type="button" (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" [ngClass]="{ show: !collapse }">
        <a class="navbar-brand" href="#">
            <img [src]="logoUrl" alt="Banlinea.com" width="130">
        </a>
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a class="nav-link" routerLink="/users/list" [routerLinkActive]="'active'">
                    Users
                </a>
            </li>
        </ul>
    </div>
</nav>
